PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=auditorium_db

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=24h

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

ADMIN_EMAIL=admin@college.edu
PRINCIPAL_EMAIL=principal@college.edu

BASE_URL=http://localhost:3000
